<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.GcommentMapper">
	<insert id="insert" parameterType="gcomment">
		insert into gcomment values(gcomment_seq.nextval,#{content},#{bnum},sysdate)
	</insert>
	<select id="list" parameterType="int" resultType="gcomment">
		select * from gcomment where bnum = #{num} order by cnum
	</select>
	<select id="getCount" parameterType="int" resultType="int">
		select NVL(count(cnum),0) cnt from gcomment where bnum = #{num}
	</select>
</mapper>  